@use "../sass/base/global";
@use "../sass/layout/header";
@use "../sass/layout/foter";
@use "../sass/components/accrodion3";
@use "../sass/components/dashboard";
@use "../sass/components/data-in_pg3";
@use "../sass/components/dishes";
@use "../sass/components/dishes2page";
@use "../sass/components/promo";
@use "../sass/components/restourans";
@use "../sass/components/restourants2";
@use "../sass/components/testimonial";
@use "../sass/pages/contact";
@use "../sass/pages/home";
@use "../sass/pages/page-2home";
@use "../sass/pages/page-4";
@use "../sass/pages/page-5";
@use "../sass/pages/page-6";
@use "../sass/pages/page-7";
@use "../sass/pages/page3-home";
@use "../sass/pages/section-2orpage-4";
@use "../sass/pages/sign-up";
@use "../sass/pages/stats";