@use "../sass/global";
@use "../sass/header";
@use "../sass/home";
@use "../sass/stats";
@use "../sass/restourans";
@use "../sass/dishes";
@use "../sass/dashboard";
@use "../sass/testimonial";
@use "../sass/promo";
@use "../sass/foter";
@use "../sass/page-2home";
@use "../sass/restourants2";
@use "../sass/dishes2page";
@use "../sass/page3-home";
@use "../sass/data-in_pg3";
@use "../sass/accrodion3";
@use "../sass/page-4";
@use "../sass/section-2orpage-4";
@use "../sass/page-5";
@use "../sass/page-6";
@use "../sass/page-7";
@use "../sass/contact";
@use "../sass/sign-up";