.contact {
padding-bottom: 250px;
padding-top: 150px;
  background-color: #ffffff;

  &__container {
    display: flex;
   gap: 250px;
    align-items: center;
  }

  &__left {
    background-color: #6C5FBC;
    height: 818px;
    width: 531px;
    left: -73px;
    
    position: relative;
    padding-top: 84px;
    padding-left: 112px;
  }

  &__brand {
    color: #F9F9F9;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
    img{
        width: 290px;
    }
  }

  &__phone img {
    position: relative;
    max-width: 371px;
    width: 100%;
    height: 600px;
    left: 265px;

    
  }

  /* RIGHT SIDE */
  &__right {
    flex: 1;
  }
&__us{
    display: none;
}
  &__title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 62px;
    color: #252525;
    span {
      color: #6f63d9;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input,
  &__textarea {
    width: 100%;
    padding: 26px 25px;
    border-radius: 16.89px;
    border: 2px solid #6c5fbc;
    font-size: 16px;
    outline: none;
    margin-bottom: 26px;
    &:focus {
      border-color: #4f46c8;
    }
  }

  &__textarea {
    resize: none;
    height: 345px;
  }

  &__btn {
    margin-top: 10px;
    padding: 23px;
    border: 2px solid #6C5FBC;
    background: white;
    color: #6C5FBC;
    border-radius: 14px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #6C5FBC;
      color: #f9f9f9;
    }
  }
}
@media (max-width:1000px){
    .contact{
        &__container {
    display: flex;
   gap: 200px;
    align-items: center;
  }

  &__left {
    background-color: #6C5FBC;
    height: 581px;
    width: 377px;
    left: -73px;
    
    position: relative;
    padding-top: 60px;
    padding-left: 99px;
  }

  &__brand {
    font-size: 34px;
    font-weight: 600;
    margin-bottom: 40px;
    img{
        width: 210px;
    }
  }

  &__phone img {
    position: relative;
    max-width: 264px;
    width: 100%;
    height: 444px;
    left: 165px; 
  }
    &__input,
  &__textarea {
    width: 100%;
    padding: 18px 25px;
    border-radius: 16.89px;
    border: 2px solid #6c5fbc;
    font-size: 16px;
    outline: none;
    margin-bottom: 26px;
    &:focus {
      border-color: #4f46c8;
    }
  }
    &__title {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 43px;
    color: #252525;
    span {
      color: #6f63d9;
    }
  }
    &__form {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
   &__textarea {
    resize: none;
    height: 245px;
  }
    &__btn {
    margin-top: 10px;
    padding: 16px;
    border: 2px solid #6C5FBC;
    background: white;
    color: #6C5FBC;
    border-radius: 14px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #6C5FBC;
      color: #f9f9f9;
    }
  }
    }
}
@media (max-width:900px){
    .contact{
        padding-top: 51px;
        padding-bottom: 100px;
        &__left{
            display: none;
        }
        &__title{
            display: none;
        }
    }
}
@media (max-width:600px){
    .contact{
        &__textarea{
            height: 210px;
        }
        &__us{
            display: flex;
            width: 100%;
            height: 150px;
            padding-top: 23px;
            background: #6C5FBC;
margin-bottom: 46px;
color: #F9F9F9;
position: relative; 
img{
    width: 119px;
    position: absolute;
    top: 13px;
    left: 90px;
}
h4{
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto;
}
        }
    }
}
@media (max-width:430px){
    .contact{
        &__us{
            display: flex;
            width: 100%;
            height: 150px;
            padding-top: 23px;
            background: #6C5FBC;
margin-bottom: 46px;
color: #F9F9F9;
position: relative; 
img{
    width: 119px;
    position: absolute;
    top: 13px;
    left: 20px;
}
h4{
    font-size: 24px;
    font-weight: 600;
    margin: 0 auto;
}
        }
    }
}