$purple: #5C4EAE;
$bg: #f6f6fb;

.pricing-section {
  position: relative;
  width: 800px;
  margin: 200px auto 66px auto;
  padding-top: 44px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100vw - 17px);
    height: 334px;
    background: $purple;
    z-index: -1;
  }
}

.pricing-container {
  position: relative;
}

.pricing-title {
  color: #F9F9F9;
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 50px;
  position: relative;
}

.dashboard-wrapper {
  background: #5C4EAE;
}

.dashboard-image {
  max-width: 887px;
  background: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  box-shadow: 8.42px 21.05px 100px 0px #0000001A;

  img {
    width: 100%;
    object-fit: cover;
  }
}


.decor {
  position: absolute;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(255, 0, 0, 0.4);
  border-radius: 12px;

  &-left {
    left: -20px;
    bottom: 60px;
    transform: rotate(20deg);
  }

  &-right {
    right: -20px;
    top: 120px;
    transform: rotate(-20deg);
  }
}

@media (max-width: 1200px) {
  .pricing-section {
    width: 90%;
    padding-top: 40px;
  }

  .dashboard-image {
    max-width: 700px;
  }
}

@media (max-width: 992px) {
  .pricing-section {
    width: 95%;
    padding-top: 30px;
  }

  .dashboard-image {
    height: 420px;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .pricing-section::before {
    width: 100%;
    height: 300px;
  }

  .pricing-title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .dashboard-image {
    height: 350px;
  }

  .decor {
    display: none;
  }
}

@media (max-width: 576px) {
  .pricing-section {
    padding-top: 20px;
    
  &::before {
    content: "";

    height: 154px;
   
  }
  }

  .pricing-title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .dashboard-image {
    height: 300px;
  }
}

@media (max-width: 375px) {
  .pricing-title {
    font-size: 20px;
  }

  .dashboard-image {
    height: 250px;
  }
}

/// //////////////////////////////////////////////////////////////////////////////////////
/// ////////SECTION_____ONLAYN////////////////////////////////////////////////////////////\
$main: #6C5FBC;
$line: #ededed;
$text: #606060;

.plans-area {
  display: flex;
  justify-content: center;
  margin-bottom: 221px;
  margin-top: 100px;
}

.plans-box {
    background: white;
    margin-top: 151px;
    max-width: 1150px;
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 120px 225px rgb(229, 229, 231);
}

.plans-head,
.plans-cost,
.plans-list,
.plans-action {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
}

.plans-head {
  padding: 30px;
  border-bottom: 1px solid $line;

  h2 {
    margin-bottom: 6px;
  }

  span {
    font-size: 14px;
    color: $text;
  }

  h3 {
    margin-bottom: 4px;
  }
}

.plans-cost {
  padding: 30px;
  border-bottom: 1px solid $line;
}

.cost-card {
  font-size: 34px;
  font-weight: bold;

  em {
    font-size: 14px;
    color: $text;
    margin-left: 4px;
  }
}

.plans-list {
  padding: 30px;
  row-gap: 18px;
}

.plans-text {
  font-size: 15px;
  color: #444;
}

.icon {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &.yes {
    background: $main;
    &::after {
      content: "✓";
      color: #fff;
      font-size: 14px;
    }
  }

  &.no {
    background: #ff4d4f;
    &::after {
      content: "✕";
      color: #fff;
      font-size: 14px;
    }
  }
}

.plans-action {
    padding-top: 44px;
    padding-bottom: 54px;
  border-top: 1px solid $line;
  gap: 250px;
}

.action-btn {
  padding: 17px 26px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.free-btn,
.pro-btn {
  background: $main;
  color: white;
}
.price-control {
  padding: 17px 26px;
  display: flex;
  gap: 15px;    
  align-items: center;

  input {
    width: 200px;
  }
}
@media (max-width: 992px) {
  .plans-area {
    gap: 20px;
  }

  .plans-box {
    max-width: 100%;
    padding: 20px;
  }

  .plans-head h2 {
    font-size: 20px;
  }

  .plans-cost {
    font-size: 26px;
  }

  .plans-list .plans-text {
    font-size: 13px;
  }

  .action-btn {
    font-size: 14px;
    padding: 12px 18px;
  }
  .plans-action{
    gap: 100px;
  }
}


@media (max-width: 768px) {
  .plans-area {
    display: none;
   
  }

}

.onlayn-pricing {
  max-width: 900px;
  margin: 120px auto;
  display: none;
  gap: 50px;
  justify-content: center;

  opacity: 0;
  transform: translateY(60px);
  transition: 0.6s ease;

  &.show {
    opacity: 1;
    transform: translateY(0);
  }
}

.onlayn-card {
  width: 310px;
  padding: 26px;
  border-radius: 18px;
  background: #ffffff;
 transition: 0.4s;
&:hover{
  backdrop-filter: blur(184.39422607421875px);
 box-shadow: 0 12px 30px rgb(168, 168, 168);
 transform: translateY(-20px);
}
 
}

.onlayn-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 17px;
}

.onlayn-price {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 23px;
  #basicPrice,
  #premiumPrice{
font-size: 45px;
  }
}

.onlayn-month {
  font-size: 14px;
  color: #888;
}

.onlayn-desc {
  font-size: 11px;
  font-weight: 500;
  color: #6E757C;
  margin-bottom: 16px;
}

.onlayn-btn {
  padding: 12px 18px;
  border-radius: 12px;
  border: none;
  background: #6C5FBC;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 14px;
  transition: 0.3s;

  &:hover {
    background: #5a52e0;
  }

  &--purple {
    background: #6C5FBC;
  }
}

.onlayn-toggle {
  display: block;
  background: none;
  border: none;
  font-size: 13px;
  font-weight: 700;
  color: #272E35;
  cursor: pointer;
}

.onlayn-features {
  margin-top: 16px;

  display: none;

.onlayn-content{
  display: flex;
  gap: 15px;
justify-content: start;
  flex-direction: row-reverse;
  margin-bottom: 10px;
}
  li {
    list-style: none;
    font-size: 14px;
    margin-bottom: 8px;
  }
}


@media (max-width: 768px) {
  .onlayn-pricing {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}