.food-card {
  margin-bottom: 105px;
margin-top: 200px;
width: 100%;
border-radius: 21px;
  overflow: hidden;
  transition: 0.3s;
&:hover{
  transform: translateY(-25px);
  box-shadow: 5.38px 64.61px 32.31px 0px #E5E5E5B2;

}
}

.food-card__image img {
  width: 100%;
  height: 268px;
  border-top-right-radius: 21px;
  border-top-left-radius: 21px;
  object-fit: cover;
  display: block;
}

.food-card__content {
  padding: 18px 32px 22px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food-card_star{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 400px;
}
.food-card__title {
  font-size: 28px;
  font-weight: 600;
  color: #323142;
  margin-bottom: 6px;
}

.food-card__meta {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  color: #8E97A6;
}

.food-card__meta .rating {
  color: #8E97A6;
  font-weight: 500;
  img{
    margin-bottom: 8px;
    width: 21px;
  }
}

.food-card__bookmark {
  background: white;
  border: none;
  cursor: pointer;
}

.food-card__bookmark img {
  width: 43px;
  height: 43px;
}
@media (max-width:1080px){
  .food-card_star{
    gap: 100px;
  }
}
@media (max-width:800px){
  .food-card_star{
    gap: 50px;
  }
}
@media (max-width:580px){
  .food-card__image img{
    height: 140px;
  }
  .food-card__content{
    
    padding: 27px 27px 27px 14px;
    flex-direction: column;
    display: flex;
    align-items: start;
    .food-card_star{
      gap: 145px;
    }
    .food-card__title{
      font-size: 20px;

    }
  }
}
@media (max-width:395px){
  .food-card_star{
    gap: 100px;
  }
}

