/* PHONE SCREEN */
.screen {
  border-radius: 28px;
  overflow: hidden;
  margin-top: 180px;
  margin-bottom: 140px;
  z-index: 0;
  object-fit: cover;
}

/* MAP IMAGE */
.map-img {
  position: absolute;
  width: 90%;
  height: 100%;
}
.map-location {
  position: relative;
  left: 270px;
  top: 20px;
  width: 368px;
  height: 454px;
z-index: -2;
opacity: 00.1;
}
/* CARD */
.carde {
  margin: 0 auto 100px auto;
  max-width: 451px;
  height: auto;
  position: relative;
  left: 16px;
  right: 16px;
  background: white;
  border-radius: 24px;
  z-index: 2;
  transition: 0.4s;
  &:hover {
    box-shadow: 6.85px 82.18px 41.09px 0px #e5e5e5b2;
    transform: translateY(-30px);
  }
}

/* CARD TOP */
.card-top {
  padding: 20px 20px 27px 20px;
  display: flex;
  align-items: center;
  gap: 14px;
  background: #323142;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  color: white;
  img {
    width: 61px;
    height: 59px;
    border-radius: 18px;
    object-fit: cover;
  }

  h4 {
    font-size: 22px;
    font-weight: 500;
  }

  span {
    font-size: 15px;
    color: #acadb9;
  }
}

/* CONTENT */
.card-content {
  padding: 31px 20px 30px 20px;
}

.mini-card {
  display: flex;
  gap: 10px;
  padding: 12px;
  margin-bottom: 12px;
  font-size: 11px;
  color: #acadb9;
  align-items: center;
  gap: 30px;
  .nini-card {
    display: flex;
    align-items: center;
  }
  span {
    img {
      width: 41px;
      height: 41px;
    }
  }
  p {
    width: 190px;
  }
  b {
    font-size: 15px;
    font-weight: 400;
    color: #323142;
    margin-top: 3px;
  }
}

.btne {
  margin-bottom: -50px;
  border: none;
  width: 131px;
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background: #6c5fbc;
  color: white;
  font-size: 15px;
  font-weight: 500;
}
@media (max-width: 615px) {
  .map-location {
    left: 10px;
  }
 .carde{
  margin-left: -10px;
  margin-right: 15px;
 }
  .mini-card {
    font-size: 7.83px;
    .nini-card {
      gap: 30px;
    }
    p {
      width: 110px;
    }
    b {
      font-size: 8.7px;
    }
    .btne {
      width: 87px;
      height: 25px;
      font-size: 10px;
    }
  }
}
